body {
   
}

.feed {
    width:75%;
    float:right;
    border:0.3px solid grey;
    border-radius: 5px;
}
.feedInside {
    background: white;
    border:0.3px solid black;
    border-radius: 5px;
    margin:30px 0 30px 0;
    padding:5px;
    color: #00ba00;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.19);
    transition: box-shadow 0.3s linear;
}
.feedInside img {
    border-radius: 5px;
    border:none;
}
.feedInside:hover {
    box-shadow: none;
}
ul {
    list-style-type: none;
    display:inline;
}
.checkbox {
    display: inline;
}
.btn-default {
    border:none;
    background-color:#a8e0a8;
}
.radio {
    padding:15px;
}
.checkbox {
    padding:7px;
}
.card-title:hover {
    text-decoration: underline;
}
@media(max-width:520px) {
    .nav-stacked{
        display:none;
    }
    
}
.card-img-top {
   
    float:right;
}
@media(max-width:600px) {
    .card-img-top {
        width:200px;
        height:160px;
    }
    .feed{
        width:100%;
    }
}



